html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Mali", serif;
  font-weight: 700;
  font-style: italic;
  background-image: url("../img/bg3.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 800px;
  min-height: 100vh;
  text-align: center;
  visibility: hidden;
  overflow: hidden;
}

.container > div {
  width: 100%;
}

.one {
  font-size: 4rem;
}

.one > img {
  vertical-align: middle;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 2.5rem;
}

.four .text-box {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border: 5px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.text-box p {
  margin: 0;
  text-align: left;
}

.text-box .fake-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: rgb(110, 109, 109);
  padding: 5px 8px;
  border-radius: 3px;
}

.five p {
  font-size: 2rem;
  position: relative;
}

.idea-5 {
  font-size: 3rem;
}

.idea-5 strong {
  color: #ff69b4;
}

.idea-6 span {
  font-size: 12rem;
}

.six {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.six img {
  display: block;
  max-width: 50%;
  height: auto;
}

.six .hat {
  position: absolute;
  width: 80px;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.baloons img {
  display: inline-block;
  position: absolute;
  width: 150px;
}

.eight svg {
  width: 25px;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .one {
    font-size: 3rem;
  }

  .three {
    font-size: 2rem;
  }

  .idea-5 {
    font-size: 2.5rem;
  }

  .idea-6 span {
    font-size: 8rem;
  }

  .six .hat {
    width: 50px;
    top: -20px;
  }

  .wish-hbd {
    font-size: 2rem;
  }

  .wish h5 {
    font-size: 1.4rem;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
  }
}
